html
    head
        title Tambah Biodata
    body
        <form action="/biodata" method='POST'>
        <div class="input-group">
            <label>Name</label>
            <input type="text" name="nama">
        </div>

        <div class="input-group">
            <label>Email</label>
            <input type="text" name="email">
        </div>      

        <div class="input-group">
            <label>Tanggal Lahir</label>
            <input type="date" name="tgl">
        </div>  

        <div class="input-group">
            <label>No.HP</label>
            <input type="number" name="hp">
        </div>  

        <div class="input-group">
            <label>Alamat</label>
            <input type="text" name="alamat">
        </div>  

        <button type="submit">Send</button>
        <button type=""><a href="/biodata">Back</a></button>
    </form>